.accordion {
  background: black !important;
  color: #ffffff !important;
  padding: 15px !important;
  border-radius: 10px !important;
  position: relative;

  &__summary {
    display: flex;
    grid-gap: 22px;
    margin-left: 5px;
    .info {
      margin-top: 20px;
      @media (max-width: 530px) {
        margin-top: 20px;
      }
      .title {
        font-family: 'DIN Pro', sans-serif;
        font-size: 36px;
        @media (max-width: 530px) {
          font-size: 24px;
        }
      }
    }
    img {
      @media (max-width: 530px) {
        position: absolute;
        right: 17px;
        top: 5px;
        width: 50px;
      }
    }
  }
  .child {
    padding: 20px 30px;
    @media (max-width: 940px) {
      padding: 20px 0;
    }
  }
  & div:first-child {
    .css-tdphdp-MuiSvgIcon-root {
      display: none;
    }
  }
}
