.container {
  padding-right: 10%;

  @media (max-width: 940px) {
    padding-right: 0;
  }

  form {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
  }

  .title {
    font-family: 'DIN Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: white;
    margin-bottom: 51px;

    @media (max-width: 940px) {
      font-size: 32px;
      margin-bottom: 15px;
    }
  }

  .contact__block {
    background: rgba(21, 21, 21, 1);
    border-radius: 10px;

    .summary__title {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;

      letter-spacing: 0.2px;
    }

    .summary__radioButtons {
      .radio__container {
        display: flex;
        grid-gap: 50px;
        flex-wrap: wrap;

        @media (max-width: 940px) {
          display: grid;
          grid-template: 1fr 1fr / 1.4fr 1fr;
          grid-column-gap: 90px;
          grid-row-gap: 30px;
        }

        @media (max-width: 530px) {
          grid-template: auto / 1fr;
        }
      }
    }
  }

  .injener__accordion {
    background: rgba(21, 21, 21, 1);
    border-radius: 10px;

    div {
      border-radius: 10px;
    }
  }

  .inputs__container {
    margin: 72px 6% 0 6%;

    @media (max-width: 940px) {
      margin: 32px 6% 0 6%;
    }

    @media (max-width: 530px) {
      margin: 32px 0 0 0;
    }

    .litle__inputs {
      display: grid;
      grid-template: auto / 1fr 1fr 1fr;
      grid-column-gap: 26px;
      grid-row-gap: 40px;

      @media (max-width: 940px) {
        grid-template: auto / 1fr 1fr;
        grid-row-gap: 35px;
      }

      @media (max-width: 530px) {
        grid-template: auto / 1fr;
        grid-row-gap: 35px;
      }
    }

    .litle__inputs .table__quastion {
      @media (min-width: 940px) {
        display: none;
      }
    }

    .input__question {
      margin-top: 64px;

      @media (max-width: 940px) {
        display: none;
      }

      .title {
        font-family: 'Gilroy-regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: white;
        margin: 0 0 14px;
      }

      .textarea {
        border: 1px solid #323232;
        width: 100%;
        height: 400px;
        box-sizing: border-box;
        padding: 30px;
        background: none;
        color: white;
        resize: none;
        font-family: 'Gilroy-regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        border-radius: 15px;
      }

      .textarea:focus {
        outline: 2px solid #4a90e2;
      }
    }

    .submit {
      margin-top: 41px;
      margin-bottom: 100px;

      @media (max-width: 940px) {
        margin-bottom: 60px;
      }

      @media (max-width: 530px) {
        margin-bottom: 46px;
      }

      .button {
        background: linear-gradient(267.53deg, #982eeb -0.27%, #359ad2 100%),
          #c7252b;
        border-radius: 10px;
        width: 341px;
        height: 45px;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        border: none;

        @media (max-width: 940px) {
          width: 286px;
        }

        @media (max-width: 530px) {
          width: 306px;
        }
      }

      .labelCheck {
        margin-left: 64px;

        @media (max-width: 940px) {
          margin-left: 25px;
        }

        @media (max-width: 530px) {
          margin-left: 0;
        }

        .label,
        .label__link {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}