.Menu {
  font-family: 'Gilroy-regular', sans-serif;
  .logo {
    overflow: hidden;
    position: relative;
  }

  overflow: hidden;
  .navbar {
    width: 100%;
    position: relative;
    margin-left: 30px;
    .navbarAccount {
      display: flex;
      align-items: center;
      background: #302e3a;
      border-radius: 10px 10px 0 0;
      height: 74px;
      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
      .navbarText {
        margin-left: 8px;
        position: absolute;
        left: 74px;
        .inviteText {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          color: rgba(255, 255, 255, 0.5);
        }
        .accountName {
          min-width: 150px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          margin: 0;
        }
      }
    }
    .navLinks {
      height: 247px;
      background: #25232f;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      grid-gap: 29px;
      .navLink:first-child {
        margin-top: 23px;
      }
      .navLink {
        text-decoration: none;
        display: flex;
        align-items: center;
        position: relative;

        &:nth-child(4) {
          .linkIcon {
            transform: scale(1.2);
          }
        }

        .linkIcon {
          width: 17px;
          height: 17px;
          margin-left: 24px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          opacity: 0.6;
          position: absolute;
          left: 55px;
          width: 110px;
          margin: 0;
        }
      }
    }
    .exit {
      cursor: pointer;
      height: 46px;
      background: #302e3a;
      border-radius: 0 0 10px 10px;
      display: flex;
      align-items: center;
      .exitNav {
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        .navIcon {
          display: flex;
          width: 17px;
          height: 17px;
          margin-left: 24px;
          position: static;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .userOff{
          padding-left:12px;
          width: 150px;
          margin-bottom: 0;
          position: static;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          opacity: 0.6;
          position: absolute;
          left: 44px;
          width: 122px;
        }
      }
    }
  }
}
.navbarMob {
  display: none;
}
.errorMessage {
  min-width: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 5px;
}
