.b {
  &__title {
    font-size: 60px;
    line-height: 70px;

    @media screen and (max-width: 767px) {
      font-size: 32px;
      line-height: 39px;
    }

    @media screen and (max-width: 575px) {
      font-size: 20px!important;
      line-height: 28px !important;
    }
  }

  &__desc {
    font-size: 18px;
    color: var(--color-text-faded);
  }

  &__img {
    margin-top: 100px;

    @media screen and (max-width: 767px) {
      margin-top: 50px;
    }
  }
}