
._learn1 {background: url("/img/1.png") no-repeat center center / cover;}
._learn2 {background: url("/img/2.png") no-repeat center center / cover;}
._learn3 {background: url("/img/3.png") no-repeat center center / cover;}
._learn4 {background: url("/img/4.jpg") no-repeat center center / cover;}
._learn8 {background: url("/img/8.png") no-repeat center center / cover;}