input {
  font-family: 'Gilroy-regular', sans-serif, sans-serif !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.makeStyles-root-1 {
  padding: 8px 16px !important;
}
span {
  font-family: 'Gilroy-regular', sans-serif;
  font-weight: normal;
}
