.b {
  &__imgIntro {
    margin-bottom: 150px;

    @media screen and (max-width: 991px) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 40px;
    }
  }

  &__table {
    @media screen and (max-width: 575px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}