.PasswordResetBlock {
  width: fit-content;
  margin: 0 auto;
}
.EmailInput {
  margin-top: 44px;
}
.ButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 47px;
  button {
    width: 50%;
  }
  a {
    width: 50%;
    text-decoration: none;
    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 520px) {
  .ButtonContainer {
    flex-direction: column;
    button {
      width: 350px;
    }
  }
}
.text_danger {
  font-family: 'Gilroy-regular', sans-serif;
  font-size: 12px;
  color: #c94f4f;
  margin: 5px 0 0;
}
