@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.registration_block {
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 20px;
  form {
    display: flex;
    flex-direction: column;
    .ButtonContainer {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      margin-top: 14px;
      a {
        text-decoration: none;
      }
    }
  }
  .form_inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .text_danger {
    font-family: 'Gilroy-regular', sans-serif;
    font-size: 12px;
    color: #c94f4f;
    margin: -10px 0 0;
  }
  .FormControl {
    .RadioGroup {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .FormControlLabel {
        color: white;
        span {
          font-size: 11px;
          margin-left: -2px;
        }
      }
    }
  }
  .FormGroup {
    display: flex;
    flex-direction: row;
    width: 105%;

    .FormControl {
      margin-right: 0 !important;
      width: fit-content;
      p {
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        font-family: 'Gilroy-regular', sans-serif;
        letter-spacing: -0.5px;
        color: rgba(255, 255, 255, 0.5);
        max-width: 194px;
        margin-left: 0;
      }
      .FormControlLabel {
        font-family: 'Gilroy-regular', sans-serif;
        font-weight: normal;
      }
    }
  }
}

.MuiRadio-colorPrimary {
  background-color: linear-gradient(267.53deg, #359ad2 -0.27%, #982eeb 100%);
}

@media screen and (max-width: 520px) {
  .ButtonContainer {
    flex-direction: column;
    button {
      width: 350px;
    }
  }
  .FormGroup {
    margin-top: 10px !important;
    width: max-content;
    margin-left: 7% !important;
    .FormControl {
      p {
        max-width: 300px !important;
        margin-bottom: 0 !important;
      }
    }
  }
}

.labelInfo {
  font-family: 'Gilroy-regular', sans-serif;
  color: #ffffff;
  display: flex;
  opacity: 0.8;
  font-size: 12px;
  align-items: center;
  line-height: 14px;
  margin-left: 4px;
  margin-bottom: -11px;
  margin-top: 0;
}

//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus {
//  border: none;
//  -webkit-box-shadow: 0 0 0 1000px #1a191f inset;
//}
