@media (max-width: 1200px) {
  .event {
    font-family: 'DIN Pro', sans-serif;
    .h1 {
      font-style: normal;
      font-stretch: condensed;
      font-weight: 900;
      font-size: 32px;
      line-height: 39px;
      color: #ffffff;
      margin: 0 0 25px;
    }
    .eventsList {
      display: flex;
      flex-wrap: wrap;
      .eventItem {
        width: 206px;
        height: 286px;
        margin-right: 15px;
        margin-bottom: 13px;
        border-radius: 10px;
        .name {
          margin-top: 18px;
          margin-left: 19px;
          width: 63px;
          height: 30px;
        }
        .date {
          font-family: 'DIN Pro', sans-serif;
          font-stretch: condensed;
          font-style: normal;
          font-weight: 900;
          font-size: 30px;
          line-height: 44px;
          color: #ffffff;
          margin-top: 14px;
          margin-left: 19px;
          margin-bottom: 0;
        }
        .desc {
          max-width: 300px;
          font-family: 'Gilroy-regular', sans-serif;
          font-stretch: condensed;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
          color: #ffffff;
          margin-top: 14px;
          margin-left: 19px;
          margin-bottom: 0;
        }
        .city {
          background: #465a82;
          border-radius: 30px;
          font-family: 'Gilroy-regular', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
          width: 172px;
          height: 34px;
          margin-top: 35px;
          margin-left: 19px;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .participate {
          width: 172px;
          height: 34px;
          background: linear-gradient(267.53deg, #ed1c24 -0.27%, #8820b9 100%),
            linear-gradient(267.53deg, #982eeb -0.27%, #359ad2 100%), #c7252b;
          border-radius: 30px;
          font-family: 'Gilroy-medium', sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          border: none;
          margin-left: 19px;
          margin-top: 7px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .event {
    font-family: 'DIN Pro', sans-serif;
    .h1 {
      font-style: normal;
      font-stretch: condensed;
      font-weight: 900;
      font-size: 64px;
      line-height: 78px;
      color: #ffffff;
      margin: 0 0 50px;
    }
    .eventsList {
      display: flex;
      flex-wrap: wrap;
      .eventItem {
        width: 314px;
        height: 404px;
        margin-right: 24px;
        margin-bottom: 30px;
        border-radius: 10px;
        .name {
          margin-top: 29px;
          margin-left: 28px;
          width: 111px;
          height: 54px;
        }
        .date {
          font-family: 'DIN Pro', sans-serif;
          font-stretch: condensed;
          font-style: normal;
          font-weight: 900;
          font-size: 48px;
          color: #ffffff;
          margin-top: 74px;
          margin-left: 28px;
          margin-bottom: 0;
        }
        .desc {
          max-width: 300px;
          font-family: 'Gilroy-regular', sans-serif;
          font-stretch: condensed;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
          position: absolute;
          margin-top: 5px;
          margin-left: 29px;
        }
        .city {
          background: #465a82;
          border-radius: 30px;
          font-family: 'Gilroy-regular', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          padding: 9px 35px 8px 33px;
          margin: 60px 0 0 28px;
          width: fit-content;
        }
        .participate {
          width: 175px;
          height: 33px;
          background: linear-gradient(267.53deg, #ed1c24 -0.27%, #8820b9 100%),
            linear-gradient(267.53deg, #982eeb -0.27%, #359ad2 100%), #c7252b;
          border-radius: 30px;
          font-family: 'Gilroy-medium', sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          border: none;
          margin-top: 6px;
          margin-left: 28px;
        }
      }
    }
  }
}
@media (max-width: 767.9px) {
  .event {
    font-family: 'DIN Pro', sans-serif;
    .h1 {
      font-style: normal;
      font-stretch: condensed;
      font-weight: 900;
      font-size: 32px;
      line-height: 39px;
      color: #ffffff;
      margin: 0 0 25px 30px;
    }
    .eventsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .eventItem {
        width: 343px;
        height: 340px;
        margin-bottom: 15px;
        border-radius: 10px;
        .name {
          margin-top: 28px;
          margin-left: 28px;
          width: 111px;
          height: 54px;
        }
        .date {
          font-family: 'DIN Pro', sans-serif;
          font-style: normal;
          font-stretch: condensed;
          font-weight: 900;
          font-size: 48px;
          line-height: 58px;
          color: #ffffff;
          margin-top: 18px;
          margin-left: 28px;
          margin-bottom: 0;
        }
        .desc {
          font-family: 'Gilroy-regular', sans-serif;
          font-stretch: condensed;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
          margin-top: 5px;
          margin-left: 28px;
          margin-bottom: 0;
        }
        .city {
          background: #465a82;
          border-radius: 30px;
          font-style: normal;
          font-family: 'Gilroy-regular', sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          padding: 9px 35px 8px 33px;
          margin: 60px 0 0 28px;
          height: 15px;
          width: fit-content;
        }
        .participate {
          width: 175px;
          height: 34px;
          background: linear-gradient(267.53deg, #ed1c24 -0.27%, #8820b9 100%),
            linear-gradient(267.53deg, #982eeb -0.27%, #359ad2 100%), #c7252b;
          border-radius: 30px;
          font-family: 'Gilroy-medium', sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          border: none;
          margin-left: 28px;
          margin-top: 5px;
        }
      }
    }
  }
}
