.LoginBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  form {
    display: flex;
    flex-direction: column;

    .text_danger {
      font-family: 'Gilroy-regular', sans-serif;
      font-size: 12px;
      color: #c94f4f;
      margin: 5px 0 0;
    }
    .text_center {
      text-align: center;
      margin: 20px 0;
    }
  }
}

.FormInput {
  margin-top: 48px;
}

.lll {
  color: rgba(255, 255, 255, 0.3) !important;
  text-decoration-color: rgba(255, 255, 255, 0) !important;
  margin-right: 8px !important;
  transition: all 0.12s linear;
}
.lll:hover {
  color: rgba(255, 255, 255, 0.6) !important;
  text-decoration-color: rgba(255, 255, 255, 0.3) !important;
}
.ButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 83px;
  font-family: 'Gilroy-regular', sans-serif;
  font-weight: 500;
  a {
    text-decoration: none;
  }
}
@media screen and (max-width: 520px) {
  .ButtonContainer {
    flex-direction: column;
    button {
      width: 350px;
    }
  }
  .lll {
    display: block;
    margin-bottom: 4px !important;
    margin-top: 4px;
  }
}
