.main_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 100vw;
  .direction {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  .first {
    height: auto;
    border-bottom: 2px solid white;
    padding-bottom: 90px;
    @media(min-width:1200px){
      margin-bottom: 80px;
    }
    @media(max-width:1200px){
      margin-bottom: 31px;
    }
    @media(max-width:767.9px){
      margin-bottom: 50px;
    }
    .sliderBlock {
      overflow: hidden;
    }
    .slider {
      border-radius: 4px;
      max-width: 100%;
      height: auto;
      background: no-repeat url(../../img/hhhh.svg), #7469a3;
      background-size: cover;
      box-sizing: border-box;
      grid-gap: 30px;
      padding: 110px;
      display: flex;
      @media(max-width:1200px){
        padding: 30px;
      }
      @media(max-width:960px){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 26px;
      }
      .cardImg{
        background: none;
      }

      &_left {
        width: 100%;
        height: 100%;

        @media (max-width: 758px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h3 {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          margin-bottom: 80px;
          font-family: "Gilroy-regular", sans-serif;

          @media (max-width: 758px) {
            margin-bottom: 7px;
            text-align: center;
          }
        }

        h1 {
          letter-spacing: 0.01em;
          color: #ffffff;
          font-family: 'DIN Pro', sans-serif;
          font-stretch: condensed;
          font-style: normal;
          font-weight: 900;
          font-size: 64px;

          @media (max-width: 758px) {
            font-size: 32px;
            line-height: 38px;
            text-align: center;
          }
        }

        p {
          font-family: "Gilroy-regular", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 30px;
          color: #ffffff;


          @media (max-width: 758px) {
            text-align: center;
          }
        }

        button {
          background: linear-gradient(267.53deg, #f87035 -0.27%, #f8484f 100%),
          #c7252b;
          border-radius: 30px;
          width: 228px;
          height: 42px;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          border: none;
          cursor: pointer;
        }
      }
    }

    .cont {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 65px;

      .buttons_cont {
        width: 120px;
        display: flex;
        justify-content: space-between;

        .buttonss {
          width: 50px;
          height: 50px;
          background: none;
          color: white;
          border: 1px solid white;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}
