.learn_content {
  width: 100%;
  height: auto;
  h1 {
    color: white;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    font-family: 'DIN Pro', sans-serif, sans-serif;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 39px;
    }
  }
  .learn_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    a {
      text-decoration: none;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    button {
      padding: 15px 32px;
      background: none;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 4px;
      color: #ffffff;
    }
  }

  .inner {
    width: 100%;
    height: auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 11px;
    @media (max-width: 878px) {
      grid-template: 1fr 1fr / 1fr;
    }

    &_left,
    &_right {
      box-sizing: border-box;
      padding: 50px;
      height: auto;
      justify-content: space-between;
      border-radius: 10px;
      display: grid;
      grid-template: 1fr / minmax(72px, 1fr) 2fr;
      grid-gap: 30px;
      path {
        transform: rotate(-180deg);
        transform-origin: 50% 50%;
      }
      .tests {
        path:first-child {
          stroke: #ed5733 !important;
        }
        path:last-child {
          stroke: url(#MyGradient);
        }
      }
      .left_inner {
        h4 {
          font-weight: 900;
          font-size: 48px;
          line-height: 58px;
          font-family: 'DIN Pro', sans-serif;
          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 29px;
          }
        }

        h5 {
          font-family: 'DIN Pro', sans-serif;
          font-weight: 900;
          font-size: 24px;
          line-height: 29px;
          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 17px;
          }
        }

        p {
          font-family: 'Gilroy-regular', sans-serif;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          @media (max-width: 768px) {
            font-size: 8px;
            line-height: 12px;
          }
        }
      }
    }

    &_left {
      background: linear-gradient(266.95deg, #982eeb -20.2%, #359ad2 132.4%),
        #151515;
      border: 10px solid #27262f;

      .left_inner {
        h4 {
          color: #ffffff;

          span {
            color: rgba(255, 255, 255, 0.5);
          }
        }

        h5 {
          color: #ffffff;
        }

        p {
          color: #ffffff;
        }
      }
    }

    &_right {
      background: linear-gradient(266.95deg, #ff3d3d -20.2%, #f87035 132.4%),
        #151515;
      border: 10px solid #27262f;

      .left_inner {
        h4 {
          color: #ffffff;

          span {
            color: rgba(255, 255, 255, 0.5);
          }
        }

        h5 {
          color: #ffffff;
        }

        p {
          color: #ffffff;
        }
      }
    }
  }
}

:global {
  .CircularProgressbar .CircularProgressbar-text {
    fill: white !important;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: white !important;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #6883eb !important;
  }
}
